<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WSPÓLNOTY  MIESZKANIOWE</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/wspolnoty">Lista wspólnot</a></li>
      <li><a href="/mieszkania">Lista mieszkań</a></li>
      <li><a href="/osoby">Lista mieszkańców wspólnoty</a></li>

    </ul>
  </div>

</div>
<!--

<div th:fragment="menu">
<div class="row">
    <div class="col">Home</div>
    <div class="col"><a href="/wspolnoty"> Lista wspólnot </a></div>
    <div class="col"><a href="/mieszkania">Lista mieszkań</a></div>
    <div class="col"><a href="/osoby">Lista mieszkańców wspólnoty</a></div>
</div>
</div>-->

</body>
</html>